<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noah Clements</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="top-container">
        <img class="top-cloud"src="static/images/cloud.png" alt="cloud">
        <h1>I'm Noah</h1>
        <h2>a programmer</h2>    
        <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
        <img class="mountain" src="static/images/mountain.png" alt="mountain">
        <!-- <img class="profile-img" src="static/profile-img.png" alt="Noah Clements"> -->
      </div>
    <div class="middle-container">
        <div class="profile">
          <img class="profile-img" src="static/images/profile-img.png" alt="Noah Clements">
          <h2>Hello.</h2>
          <p>I used to be a pretty good programmer and technical lead on most projects I worked on.
            Before that, I worked as a business analyst. <em>But that was all over 20 years ago,</em>
            before I went to law school. I have been a lawyer since 2005, working primarily 
            in criminal defense since 2011.</p>
        </div>
        <hr>
        <div class="skills">
          <h2>My Skills.</h2>
          <div class="skill-row">
            <img class="skill-img-l" src="static/images/crime-scene.png" alt="">
            <h3>Criminal Defense</h3>
            <p class="skill-txt">I have represented hundreds of people charged with crimes, including bank fraud, Medicaid fraud, armed robbery, DUI, drug, and gun crimes. I have also counseled other lawyers on the immigration consequences of crimes.</p>
          </div>
          <div class="skill-row">
            <img class="skill-img-r" src="static/images/atty-disc.png" alt="">
            <h3>Attorney Discipline</h3>
            <p class="skill-txt">I have defended lawyers facing disbarrment in the District of Columbia. I have also represented lawyers sued for malpractice.</p>
          </div>
          <div class="skill-row">
            <img class="skill-img-l" src="static/images/guitar.png" alt="">
            <h3>Playing Guitar</h3>
            <p class="skill-txt">I enjoy playing guitar, singing and writing songs, but I am strictly amateur.</p>
          </div>
        </div>
        <hr>
        <div class="contact-me">
          <h2>Get In Touch</h2>
          <h3>Lorem ipsum dolor sit amet, non elit.</h3>
          <p>I must be a lawyer if my heading is in latin. I don't know what it means either.</p>
          <a class="btn" href="mailto:noahclemtest@google.com">CONTACT ME</a>
        </div>
      </div>
      
      
      <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/noahclements/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/NoahAClements">Twitter</a>
        <a class="footer-link" href="https://theclementsfirm.com/">Website</a>
        <p class="copyright">© 2022 Noah Clements.</p>
        <a class="attribution" href="https://www.flaticon.com/free-icons/law" title="law icons">Law icons created by Uniconlabs - Flaticon</a>
        <a class="attribution" href="https://www.flaticon.com/free-icons/crime" title="crime icons">Crime icons created by Freepik - Flaticon</a>
        <a class="attribution" href="https://www.flaticon.com/free-icons/guitar" title="guitar icons">Guitar icons created by Freepik - Flaticon</a>
       </div>
    </body>
</html>