<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<!--<div class="container">-->
    <h1>Add a new book into your library</h1>

    <form action="{{ url_for("add") }}" method="POST">
        <label>Book Name</label>
        <input name="title" type="text">
        <label>Book Author</label>
        <input name="author" type="text">
        <label>Rating</label>
        <input name="rating" type="text">
        <button type="submit">Add Book</button>

    </form>

    <p class="space-above"><a href="{{url_for('home')}}">See all the books in your library.</a></p>
<!--</div>-->

</body>
</html>
