{% extends 'bootstrap/base.html' %}

{% block title %}Add Book{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
    <h1>Add a new book into your library</h1>

<!-- This is where your WTForm will go -->
    <form action="{{ url_for("add") }}" method="POST">
        <label>Book Name</label>
        <input name="title" type="text">
        <label>Book Author</label>
        <input name="author" type="text">
        <label>Rating</label>
        <input name="rating" type="text">
        <button type="submit">Add Book</button>

    </form>

    <p class="space-above"><a href="{{url_for('home')}}">See all the books in your library.</a></p>
</div>
{% endblock %}
