<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Hello World!</h1>
    <form id="login-form" method="post" action="{{ url_for('login') }}">
        <label for="name">Name</label>
        <input name="name" type="text" placeholder="name">
        <label for="pwd">Password</label>
        <input type="password" name="pwd" id="" placeholder="password">
        <button type="submit" form="login-form">Ok</button>

    </form>
</body>
</html>